@use "global" as *;

.price-breadcrumb {
  margin-top: rem(8);
}

.subpage-price__body {
    margin-top: rem(52);

    @include mq("md") {
        margin-top: rem(150);
    }
}

.subpage-price__body-inner {
  position: relative;
}

.subpage-price__body-inner::after {
  display: block;
  content: "";
  position: absolute;
  top: rem(-24);
  left: calc(50% - min(45vw, rem(624)));
  width: rem(120);
  height: rem(55);
  background-image: url("../images/fish-R.svg");
  background-size: cover;

  @include mq("md") {
      top: rem(-72);
      left: calc(50% - min(48vw, rem(624)));
      width: rem(301);
      height: rem(138);
  }
}


.subpage-price__contents-inner {
  max-width: rem(700);
  margin: 0 auto;
}

.subpage-price__price-tables:not(:first-child){
  margin-top: rem(40);
  @include mq("md") {
      margin-top: rem(80);
  }
}
