@use "global" as *;

.faq-breadcrumb {
  margin-top: rem(8);
}

.subpage-faq__body {
  margin-top: rem(52);

  @include mq("md") {
    margin-top: rem(150);
  }
}

.subpage-faq__body-inner {
  position: relative;
}

.subpage-faq__body-inner::after {
  display: block;
  content: "";
  position: absolute;
  top: rem(-24);
  left: calc(50% - min(45vw, rem(624)));
  width: rem(120);
  height: rem(55);
  background-image: url("../images/fish-R.svg");
  background-size: cover;

  @include mq("md") {
      top: rem(-72);
      left: calc(50% - min(48vw, rem(624)));
      width: rem(301);
      height: rem(138);
  }
}

.subpage-faq__content-inner {
  max-width: rem(700);
  margin: 0 auto;
}


.subpage-faq__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.subpage-faq__item {
  width: 100%;
}

.subpage-faq__item:not(:first-child) {
  margin-top: rem(40);

  @include mq("md") {
      margin-top: rem(56);
  }
}