@use "global" as *;

.footer {
    background: $green;
    color: $white;
    padding-top: rem(48);
    padding-bottom: rem(56);

    @include mq("md") {
        padding-top: rem(80);
        padding-bottom: rem(100);
    }
  }
  