@use "global" as *;
  
  .blog-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
    justify-items: center;
    gap: rem(40);
    margin-top: 1.5rem;
  
    @include mq("md") {
      margin-top: rem(85);
    }
  }

  .blog-cards__item {
    max-width: rem(600);
    height: 100%;

    @include mq("md"){
      max-width: calc( ($inner - 5rem) / 3);    
    }

  }