@use "global" as *;

.campaign__cards {
    margin-top: rem(24);
    padding: rem(10) 0;
}

.campaign__slide {
    width: vw(375, 280);
 
    @include mq("md"){
        max-width: calc( ($inner - 5rem) / 3);
        width: 100%;
    }
}

.campaign__slide + .campaign__slide {
    margin-left: rem(24);
}

.campaign__button {
    margin-top: rem(32);
    display: flex;
    justify-content: center;
    @include mq("md") {
        margin-top: rem(80);
    }
}

.campaign__swiper-controller {
    display: none;

    @include mq("md") {
        display: flex;
        gap: 1.6rem;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        width: fit-content;
        height: auto;
    }
  }

.campaign__inner {
    position: relative;
}

.campaign__swiper-button-prev,
.campaign__swiper-button-next {
    height: rem(80);
    width: rem(80);
    position: static;
}

.campaign__swiper-button-prev:after,
.campaign__swiper-button-next:after {
    display: block;
    content: "";
    height: rem(80);
    margin: auto;
    width: rem(80);
    background-repeat: no-repeat;
    background-size: contain;
}

.campaign__swiper-button-prev:after {
    background-image: url("../images/swiper-prev.png");
}

.campaign__swiper-button-next:after {
    background-image: url("../images/swiper-next.png");
}
