@use "global" as *;

.campaign-card {
    box-shadow: 0 0 1rem rgba($black, 0.2);
}

.campaign-card__figure {
    
    aspect-ratio: 280 / 188;
    width: 100%;
    height: auto;
}

.campaign-card__header {
    padding: rem(16) rem(16) rem(8) rem(16);

    @include mq("md") {
        padding: 1.5rem 1rem 1rem 1rem;
    }
}

.campaign-card__category {
    color: $green;
    font-size: 0.75rem;
    font-weight: $regular;
    line-height: 1.83;
    border: 0.0625rem solid $green;
    color: $green;
    padding: 0.35rem 0.7rem;
    width: fit-content;
}

.campaign-card__title{

    @include mq("md") {
        margin-top: rem(4);
    }
}

.campaign-card__title::after {
    content: "";
    display: block;
    width: calc(100% - rem(32));
    height: rem(1);
    background-color: $green;
    margin-top: rem(8);

    @include mq("md") {
        margin-top: rem(8);
    }
}

.campaign-card__title span {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: $medium;
    color: $font-color;
}

.campaign-card__price {
    padding-bottom: rem(24);

    @include mq("md") {
        padding-bottom: rem(40);
    }
}




