@use "global" as *;

// ドロアーメニュー
.drawer-menu {
    position: absolute;
    z-index: 5000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: $green;
}

.drawer-menu__inner {
    display: flex;
    // align-items: center;
    justify-content: center;
    width: 100%;
    height: inherit;
    padding-top: 1.25rem;
}

.drawer-menu__items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drawer-menu__item {
    display: inline-block;
}

.drawer-menu__item a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drawer-menu__item:not(:first-child) {
    margin-top: 25px;
}

.drawer-menu__link {
    font-size: 18px;
    font-family: "Cormorant";
    font-weight: $medium;
    display: inline-block;
    width: 200px;
    padding-bottom: 25px;
    color: $white;
    text-align: center;
}

.drawer-menu__link p {
    margin-left: 10px;
}

.drawer-menu__icon {
    width: 14px;
    height: 14px;
}

// .drawer-menu__link.drawer-menu__link--contact {
//     padding: 14px 14px;
//     transition: 0.3s background-color;
//     border-radius: 6px;
//     border: none;
//     &:hover {
//         opacity: 0.8;
//     }
// }

