@use "global" as *;

.faq-accordion {
    max-width: rem(700);
    // background-color: #f2f2f2;
    // border: solid rem(1) $green;
}

.faq-accordion:not([open]) {
    margin-bottom: 7px;
}

.faq-accordion summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    // padding: 1em 2em;
    padding: rem(16);
    background-color: $green;
    color: #fff;
    cursor: pointer;
    line-height: 1.1875;
    @include mq("md") {
        font-size: rem(20);
        line-height: 1.2;
        padding: rem(24) rem(40);
    }
}

.faq-accordion summary::-webkit-details-marker {
    display: none;
}

.faq-accordion summary::before,
.faq-accordion summary::after {
    // width: 3px;
    width: rem(1);
    // height: .9em;
    height: rem(28);
    border-radius: 5px;
    background-color: #fff;
    content: '';
}

.faq-accordion summary::before {
    position: absolute;
    right: 2em;
    rotate: 90deg;
}

.faq-accordion summary::after {
    transition: rotate .3s;
    right: rem(14);
    position: relative;
    @include mq("md") {
        right: 0;
    }
}

.faq-accordion[open] summary::after {
    rotate: 90deg;
}

.faq-accordion p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: rem(24) rem(16);
    color: #333333;
    transition: transform .5s, opacity .5s;
    // line-height: 1.1875;
    border: solid rem(1) $green;
    // font-family: $base-font-family;
    @include mq("md") {
        margin-top: rem(16);
        padding: rem(38);
    }
}

.faq-accordion[open] p {
    transform: none;
    opacity: 1;
}