@use "global" as *;

.faq-accordion {
    max-width: rem(700);
    transition: all 0.3s ease;
    // background-color: #f2f2f2;
    // border: solid rem(1) $green;
}

.faq-accordion:not([open]) {
    margin-bottom: 7px;
}

.faq-accordion summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: rem(16) rem(40) rem(16) rem(16);
    background-color: $green;
    color: #fff;
    cursor: pointer;
    line-height: 1.1875;
    transition: background-color 0.3s ease;

    @include mq("md") {
        font-size: rem(20);
        line-height: 1.2;
        padding-top: rem(24);
        padding-bottom: rem(24);
        padding-left: rem(40);
        padding-right: rem(60);
    }
}

@media (any-hover: hover){
    .faq-accordion summary:hover {
        background-color: darken($green, 5%);
    }    
}

.faq-accordion summary::-webkit-details-marker {
    display: none;
}

.faq-accordion summary::before,
.faq-accordion summary::after {
    width: rem(1);
    height: rem(28);
    border-radius: 5px;
    background-color: #fff;
    content: '';
    transition: transform 0.3s ease;
    position: absolute;
    right: rem(24);

    @include mq("md") {
        right: rem(40);
    }
}

.faq-accordion summary::before {
    transform: rotate(90deg);
}

.faq-accordion summary::after {
    transform: rotate(0);
}

.faq-accordion[open] summary::after {
    transform: rotate(90deg);
}

.faq-accordion p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: rem(24) rem(16);
    color: #333333;
    transition: all 0.3s ease;
    border: solid rem(1) $green;

    @include mq("md") {
        margin-top: rem(16);
        padding: rem(38);
    }
}

.faq-accordion[open] p {
    transform: translateY(0);
    opacity: 1;
}