@use "global" as *;


.header-label__gender {
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1.5;
}

.header-label__category {
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1.83;
    border: 0.0625rem solid $green;
    color: $green;
    padding: rem(3) rem(11);
    width: fit-content;

    @include mq("md") {
        padding: rem(5) rem(14);
        padding-bottom: rem(5);
    }
}

@include mq(md) {
    .header-label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}