@use "global" as *;


.header-label__gender {
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1.5;
}

.header-label__category {
    font-size: rem(12);
    font-weight: $regular;
    // line-height: 1.83;
    border: rem(1) solid $green;
    color: $green;
    padding: rem(5) rem(11);
    width: fit-content;

    @include mq("md") {
        padding: rem(5) rem(15);
        // padding-bottom: rem(4);
    }
}

@include mq(md) {
    .header-label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}