@use "global" as *;

.nav-menu {
    background: $green;
    // padding: 3rem 0 3.5rem 0;
    // padding: rem(48) 0 rem(56) 0;
}

.nav-heading__logo svg {
    width: 7.5rem;
    height: 2.8rem;

    @include mq("md") {
        width: 12.5rem;
        height: 4.6875rem;
    }
}

@include mq(md) {

    .nav-heading {
        display: flex;
        align-items: flex-end;
    }
}

.nav-main__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    grid-template-areas:
        "a b"
        "c d";
    padding-top: rem(40);
    color: $white;

    @include mq("md") {
        display: flex;
        padding-top: rem(19);
    }
}

.item1 {
    grid-area: a;
}

.item2 {
    grid-area: c;
    margin-top: rem(40);

    @include mq("md") {
        margin-top: 0;
        padding-left: rem(12);
    }
}

.item3 {
    grid-area: b;
    padding-left: rem(12);
}

.item4 {
    grid-area: d;
    padding-left: rem(12);
    margin-top: rem(40);

    @include mq(md) {
            margin-top: 0;
    }
}



.nav-item__title {
    display: flex;
}

.nav-item__title:not(:first-child) {
    margin-top: rem(40);
}

@include mq(md) {
    .nav-item__title:not(:first-child) {
        margin-top: 2.5rem;
    }
}

.nav-item__title-icon {
    aspect-ratio: 1 / 1;
    width: rem(18);
    height: rem(18);
    // width: 1.125rem;
    // height: 1.125rem;
}

.nav-item__title {
    font-size: 1rem;
    font-weight: $bold;
    line-height: 1rem;

    @include mq("md") {
        line-height: 1.125;
    }
}

.nav-item__title-link {
    margin-left: rem(4);
}


.nav-item__link {
    display: inline-block;
    font-size: rem(16);
    line-height: 1.3;
    font-weight: $regular;
    margin-top: rem(20);
    margin-left: rem(22);
}


// .nav-items__wrapper:not(:first-child) {
//     margin-top: rem(20);
// }

@include mq(md) {
    .nav-items__wrapper {
        display: block;
        width: calc(100% / 4);
    }
}