@use "global" as *;

.price-card {
    text-align: center;
}

.price-card__description {
    font-size: 0.875rem;
    line-height: 1.71;
    color: $font-color;
    font-family: $base-font-family;
    font-weight: $regular;

    @include mq("md") {
        font-size: 1rem;
        line-height: 1.5;
    }
}

.price-card__prices {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    font-family: $numbers-font-family;
    font-weight: $bold;
    padding-top: 0.5rem;
    @include mq("md") {
        padding-top: 0.4rem;
    }
}

.price-card__cancell-price {
    text-decoration: line-through;
    text-decoration-color: #C94800;
    text-decoration-thickness: 0.19rem;
    font-size: rem(20);
    line-height: 1;
    color: $font-color;

    @include mq("md") {
        font-size: rem(24);
    }
}

.price-card__price {
    font-size: rem(32);
    color: $green;
    line-height: 1;

    @include mq("md") {
        font-size: rem(40);
    }
}
