@use "global" as *;


.return-top {
    color: $green;
    text-decoration: none;
    position: fixed;
    right: rem(15);
    bottom: 120px;
    width: rem(48);
    height: rem(48);
    border: solid thin;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-content: center;
    transition: opacity 0.4s, visibility 0.4s;
    /*普段は隠しておく*/
    opacity: 0;
    visibility: hidden;

    @include mq("md") {
        width: rem(80);
        height: rem(80);
        right: rem(20);
    }
}
.return-top.is-active {
    /*activeが付いたら表示*/
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s, visibility 0.4s;
}

.return-top__image {
    transform: translateX(-25%);
    height: 90%;
    width: 80%;

    @include mq("md") {
        width: 95%;
        height: 95%;    
    }
}