@use "global" as *;

.subpage-campaign__breadcrumb {
    margin-top: rem(8);
}

.subpage-campaign__contents-wrapper {
    margin-top: rem(36);
}

.subpage-campaign__pagenation {
    margin-top: rem(80);
}