@use "global" as *;

.subpage-voice__breadcrumb {
    margin-top: rem(8);
}

.subpage-voice__contents-wrapper {
    margin-top: rem(36);
}

.subpage-voice__contents-inner {
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(38);
    }
}

.subpage-voice__pagenation {
    margin-top: rem(80);
}