@use "global" as *;

/* ページ構成（いずれpageフォルダが適当）
-------------------------*/
.subpage-single__contents-inner {
    position: relative;

    @include mq("md") {
        display: flex;
        justify-content: space-between;
        gap: rem(80);
    }
}

.subpage-single__contents-inner::after {
    display: block;
    content: "";
    position: absolute;
    top: rem(-24);
    left: calc(50% - min(45vw, rem(624)));
    width: rem(120);
    height: rem(55);
    background-image: url("../images/fish-R.svg");
    background-size: cover;
    z-index: -1;

    @include mq("md") {
        top: rem(-72);
        left: calc(50% - min(48vw, rem(624)));
        width: rem(301);
        height: rem(138);
    }
}

.subpage-single__breadcrumb {
    margin-top: rem(8);
}

.subpage-single__contents-wrapper {
    margin-top: rem(52);

    @include mq("md") {
        margin-top: rem(150);
    }
}



.subpage-single__article {
    @include mq("md") {
        width: rem(706);
    }
}

.subpage-single__aside {
    width: 100%;

    @include mq("md") {
        width: rem(294);
    }
}