@use "global" as *;


.subpage-blog__breadcrumb {
    margin-top: rem(8);
}

.subpage-blog__contents-wrapper {
    margin-top: rem(36);

    @include mq("md") {
        margin-top: rem(150);
    }
}


.subpage-blog__contents-inner {
    position: relative;
}

.subpage-blog__contents-inner::after {
    display: block;
    content: "";
    position: absolute;
    top: rem(-92);
    left: calc(50% - min(45vw, rem(624)));
    width: rem(120);
    height: rem(55);
    background-image: url("../images/fish-R.svg");
    background-size: cover;
    z-index: -1;

    @include mq("md") {
        top: rem(-72);
        left: calc(50% - min(48vw, rem(624)));
        width: rem(301);
        height: rem(138);
    }
}





.subpage-blog__contents-inner {
    // margin-top: rem(40);

    @include mq("md") {
        // margin-top: rem(38);
        display: flex;
        justify-content: space-between;
        gap: rem(80);
    }
}

.subpage-blog__pagination {
    margin-top: rem(80);
}

.subpage-blog__pagination-inner{
    display: flex;
    justify-content: center;
}

.subpage-blog__article {
    @include mq("md") {
        width: rem(706);
    }
}

.subpage-blog__aside {
    width: 85%;
    margin: 0 auto;

    @include mq("md") {
        width: rem(294);
    }
}


/* メインコンテンツ部分
-----------------------*/
/* Gridに関連するプロパティのみ抜粋 */
.subpage-blog__article-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(40);

    @include mq("md") {
        // grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
        gap: rem(80) rem(40);
    }

}