@use "global" as *;

.voice__inner {
    position: relative;
}

.voice__button {
    position: relative;
    z-index: 50;
    text-align: center;
    margin-top: rem(40);
    margin-bottom: rem(5);

    @include mq("md") {
        margin-top: rem(80);
    }
}

.voice__background-fish {
    @include mq("md"){
        position: absolute;
        top: rem(-120);
        left: rem(-50);
        width: rem(301);
        height: rem(138);    
    }
}

.voice__background-tatsu svg {
    width: rem(71);
    height: rem(162);
}

.voice__background-tatsu {
    @include mq("md") {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate( -40%, 45%);
        width: rem(71);
        height: rem(162);    
    }
}
