@use "global" as *;

.voice-cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
    justify-items: center;
    gap: rem(40);
    margin-top: rem(40);
  
    @include mq("md") {
      margin-top: rem(32);
    }
}

.voice-cards__item {
    max-width: rem(600);
    height: 100%;
    width: 100%;

    // @include mq("md") {
    //     max-width: calc( ($inner - 5rem) / 2);
    // }
}
